In [1]:
import pandas as pd

In [2]:
scores = [35,45,50,60,65,70,75,80,85,90,95,100]
scores

[35, 45, 50, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [4]:
df = pd.DataFrame(scores, columns=['scores'])

In [5]:
df

    scores
0       35
1       45
2       50
3       60
4       65
5       70
6       75
7       80
8       85
9       90
10      95
11     100

In [ ]:
df.describe()#Measure of tendency

           scores
count   12.000000
mean    70.833333
std     20.541901
min     35.000000
25%     57.500000
50%     72.500000
75%     86.250000
max    100.000000

In [10]:
avg  = df['scores'].mean().round(2)
max = df['scores'].max()
print(avg,max)

70.83 100